<input type="file" (change)="onAddFiles($event.target.files)" multiple />
<input type="button" (click)="onPublishAssets()" value="Publish" />

<div class="assetUpload">

  <div class="imageList" [dragula]='"bag"' [dragulaModel]='images'>
    <div *ngFor="let image of images" [attr.imageIndex]="image.index">
      <img [src]="image.thumb" />
    </div>
  </div>

  <div class="sizeList">
    <div [attr.sizeIndex]="key" class="assetList" *ngFor="let key of objectKeys(assets)" [dragula]='"bag"' [dragulaModel]='assets[key]'>
      {{key}}
      <div *ngFor="let asset of assets[key]" [attr.imageIndex]="asset.index" >
        <img [src]="asset.thumb" />
      </div>
    </div>
  </div>

</div>
