.assetUpload {
  display: flex;
  flex-direction: column;
}
.imageList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  background-color: rgba(60, 60, 241, 0.342);
  height: 250px;
}

img {
  width: 145px;
  margin: 5px;
}

.sizeList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.assetList{
  width: 150px;
  height: 150px;
  flex: 1 1 auto;
  background-color: rgba(206, 65, 65, 0.637);
  margin: 5px;
}